aniso8601==1.2.0
click==6.6
Flask==0.11.1
Flask-RESTful==0.3.5
isodate==0.5.4
itsdangerous==0.24
Jinja2==2.8
jsonschema==2.5.1
MarkupSafe==0.23
marshmallow==2.10.4
pyparsing==2.1.10
python-dateutil==2.6.0
pytz==2016.7
rdflib==4.2.1
requests==2.12.3
six==1.10.0
SPARQLWrapper==1.8.0
webargs==1.5.1
Werkzeug==0.14.1
